@keyframes progress-line {
  from {
    width: calc(0% - 4px);
  }
  to {
    width: calc(100% - 4px);
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}